<div class="analytics-header backgroundImg">
  <div class="tabs">
    <p class="tabs__item active" [ngClass]="{active: isSelectedTab == 'rulesconfig'}"
      (click)="onSelectTab('rulesconfig')">
      Rules configuration
    </p>
  </div>

  <div class="search">
    <button mat-mini-fab class="bt-right"
      *ngIf="(groupper?.includes('Create_configrules')) || (groupper?.includes('ADMIN_PERMISSION'))"
      matTooltip="Create {{isSelectedTab}}" color="primary" (click)="createFormFunction();">
      <p>+</p>
    </button>
    <form action="" class="input-form">
      <img src="assets/images/search-icon.svg" alt="">
      <input type="text" (input)="onFilterText($event)" placeholder="General Search">
    </form>

    <div class="pagination">
      <p class="pagination__counter">
        <b>{{fromRecords}} - {{toRecords}}</b>
        of
        <b>{{totalRecords}}</b>
        Records
      </p>
      <div class="pagination-controls">
        <i [ngClass]="{disabled: presentPageNo <= 1}" (click)="gotosrcPreviousPage()"></i>
        <i [ngClass]="{disabled: presentPageNo >= totalPages}" (click)="gotosrcNextPage()"></i>
      </div>
    </div>
  </div>

</div>
