<section class="login">
  <div class="header">
    <img src="assets/images/interopx-logo.svg" alt="InteropX" class="header__image">
  </div>

  <section class="content">
    <div class="content__box">
      <h2 class="content__heading">
        Set Password
      </h2>

      <div class="form1">
        <div>
          <form [formGroup]="resetForm" class="content__form">
            <mat-form-field class="content__form-box">
              <input id="new-pass" type="password" matInput placeholder="New Password" formControlName="newpassword"
                required>
              <mat-error class="error-msg"
                *ngIf="resetForm.controls['newpassword'].errors?.required && resetForm.controls['newpassword'].touched">
                Please enter New Password</mat-error>
              <mat-error class="error-msg" *ngIf="resetForm.controls['newpassword'].errors?.pattern">
                <p>Please enter Valid New Password</p>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="content__form-box">
              <input id="conform-pass" type="password" matInput placeholder="Confirm Password"
                formControlName="confirmpassword" [errorStateMatcher]="matcher" required>
              <mat-error class="error-msg"
                *ngIf="resetForm.controls['confirmpassword'].errors?.required && resetForm.controls['confirmpassword'].touched">
                Please Confirm your password</mat-error>
              <mat-error class="error-msg" *ngIf="resetForm.hasError('notSame')">
                Passwords do not match
              </mat-error>
            </mat-form-field>
            <button class="content__button" (click)="onsetpassword(resetForm)">
              Set Password
            </button>
          </form>
        </div>
        <div class="text">
          <pre>(The password must be 8 characters long and include atleast one Uppercase and one Lowercase alphabet,
and one number and one special character).</pre>
        </div>
      </div>
    </div>
  </section>
</section>
