<!-- ANALYTICS GENERAL CONTENT -->
<div class="maindiv">
</div>

<div class="table-wrapper" style="height: calc(100vh - 85px) !important; margin-top: 10px;">
  <table mat-table [ngClass]="{'nested' : isShowingDetails}" [dataSource]="dataSource" matSort #table
    [matSortDisableClear]="true" (matSortChange)="handleSortChange($event)" multiTemplateDataRows
    class="table mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="dataSetId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>
          DataSet ID
        </span>
      </th>
      <td class="id-cell right-align-cell" mat-cell *matCellDef="let element">
        <i class="id-cell__wrapper">
          <i class="sort-arrow">
            <i class="sort-arrow"></i>
          </i>
          {{element?.dataSetId}}
        </i>
      </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="dataSetName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>
          DataSet Name
        </span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.dataSetName}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="lastUpdated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>
          Last Extraction
        </span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.lastExtractionDate | date:'medium'}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="fromdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>
          Next Extraction
        </span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.nextext | date:'mediumDate'}}, {{element?.nexttime}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="scheduleFrequency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>
          Frequency
        </span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.scheduleFrequency}} </td>
    </ng-container>

    <!-- Patient details -->
    <ng-container matColumnDef="patientDetails">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <app-datasource-by-dataset [childMessage]="showingDetailsFor?.datasources" *ngIf="isShowingDetailsFor(element)">
        </app-datasource-by-dataset>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleDetails(row)"
      [class.expanded]="isShowingDetailsFor(row)"></tr>
    <tr mat-row *matRowDef="let row; columns: ['patientDetails'];" class="patient-details"></tr>
  </table>
</div>
