@import "../../styles/mixins";

.margintop-0px {
  margin-top: 0px !important;
}

.table td {
  cursor: default !important;
}

.editbutton {
  color: blue;
  cursor: pointer;
}

.adddatsource mat-card {
  width: 45%;
  margin-left: 377px;
}

.mainpagesize {
  display: block;
  padding-left: 56px;
}

.mat-column-lastLoggedIn {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 21% !important;
  overflow-wrap: break-word;
  word-break: break-word;

  }


.adddatsource mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 9px 47px 0px rgba(0,0,0,.2),
              0 3px 1px 0 rgba(0,0,0,.14),
              0 1px 4px 0 rgba(0,0,0,.1);
}

.matcard-formsize {
  width: 45%;
  margin-left: 377px;
}

.mainpagesize {
  display: block;
  padding-left: 56px;
}

mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 9px 47px 0px rgba(0,0,0,.2),
              0 3px 1px 0 rgba(0,0,0,.14),
              0 1px 4px 0 rgba(0,0,0,.1);
}

.adddatsource mat-card-actions {
  padding-left: 440px;
}

.adddatsource mat-form-field {
  display: block;
}

mat-form-field {
  display: block;
}

.adddatsource mat-card-header {
  font-weight: 900;
  padding-left: 180px;


}

mat-icon {
  cursor: pointer;
  padding-right: 35px;
}

.buttons {
  float: right;
    margin-top: -24px;
}

.start {
  width: 70%;
}

.stop {
  width: 70%;
  padding-left: 25px;
}

.row {
  display: flex;
}

.testbtn button{
  margin-left: 25px;
  top: 10px;
}

.url {
  width: 100%;
}

#fileInput {
  display: none;
}

.editbutton {
  color: blue;
}

.search {
    margin-left: 865px;
    margin-top: 25px;
}

.search button {
    margin-right: 22px;
}

.table-wrapper {
    margin-top: 25px;
}

.input-form img {
  position: relative;
  top: 1px;
  left: 8%;
}

.filter {
  padding-left: 24px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

@media (max-width: 1140px) {
  .table {
    td.birth-cell,
    th.birth-cell {
      width: 120px;
    }

    td.address-cell,
    th.address-cell {
      width: 300px;
    }
  }
}

@media (max-width: 1024px) {
  .table-wrapper {
    overflow: scroll;
  }

  .table {
    min-width: 1280px;
  }

  .search {
    margin-left: 265px;
  }
  .input-form img {
    left: 16%;
  }

  .search button {
    margin-right: 0px;
}
.adddatsource mat-card-actions {
  padding-left: 330px;


}
.row {
  display: block;
}

.start {
  width: 100%;
}

.stop {
  width: 100%;
  padding-left: 0px;
}

.adddatsource mat-card {
  width: 70%;
  margin-left: 96px;
  margin-right: 96px;
}
.testbtn {
  float: right;
    margin-top: -75px;
}

.row .url {
  width: 75%;
}
}
.table-wrapper{
  width: 100%;
}
.all{
  padding-left: 30px;
}


