@import "../../../styles/mixins";

.backgroundImg {
  background: url("../../../assets/images/login-bg.png") -1px;
}

.analytics-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding-left: 24px;
  border-bottom: 1px solid rgba(129, 143, 175, 0.25);
}

.tabs {
  display: flex;
  justify-content: flex-start;
  height: 75px;

  &__item {
    cursor: pointer;
    transition: 0.3s;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    color: $main-text-color;
    border-bottom: 0 solid #0083ef;

    &:hover,
    &.active {
      padding-top: 6px;
      border-bottom: 6px solid #0083ef;
      transition: 0.3s;
      color: #0083ef;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  // justify-content: flex-start;
  padding-right: 22px;

  .input-form {
    margin-right: 32px;
  }
}

.input-form {
  position: relative;
  width: 100%;
  max-width: 240px;

  svg {
    position: absolute;
    top: 9px;
    left: 12px;
  }

  label {
    display: block;
    width: 100%;
  }

  input {
    @include basic-input();
    width: 100%;
    padding-left: 34px;
  }
}

.pagination {
  display: flex;
  align-items: center;

  &__counter {
    margin-right: 26px;
    min-width: 150px;

    b {
      font-weight: 900;
    }
  }

  &__controls {
    width: 30px;
  }

  &__control-arrow {
    cursor: pointer;

    &.disabled {
      pointer-events: none;

      svg {
        fill: #becae4;
      }
    }

    svg {
      transition: 0.3s;
      fill: #0083ef;
    }

    &:first-of-type {
      margin-right: 15px;
    }
  }
}

@media (max-width: 790px) {
  .tabs__item {
    font-size: 16px;
  }
}
