<div class="tabs-header backgroundImg">
  <div class="tabs">
    <div class="tabs__wrapper">
      <p class="tabs__item active">
        Group Management
      </p>
    </div>

    <div class="pagination-controls">
      <i class="disabled"></i>
      <i></i>
    </div>
  </div>

  <div class="search">
    <button mat-mini-fab color="primary"
      *ngIf="(groupper?.includes('Create_Group')) || (groupper?.includes('ADMIN_PERMISSION'))" (click)="creategrp();"
      matTooltip="Create Group">
      <p>+</p>
    </button>
    <form action="" class="input-form">
      <img src="assets/images/search-icon.svg" alt="">
      <input type="text" placeholder="General Search" (input)="onSearchText($event)">
    </form>

    <div class="pagination">
      <p class="pagination__counter">
        <b>{{fromRecords}} - {{toRecords}}</b>
        of
        <b>{{totalRecords}}</b>
        Records
      </p>
      <div class="pagination-controls">
        <i [ngClass]="{disabled: presentPageNo <= 1}" (click)="gotosrcPreviousPage()"></i>
        <i [ngClass]="{disabled: presentPageNo >= totalPages}" (click)="gotosrcNextPage()"></i>
      </div>
    </div>
  </div>
</div>
