.btnBackground {
  background: #b4dbfb82;
  color: #0b79d4;
  font-weight: bold;
  margin-top: -20px;
  cursor: default;
}

.headerBorder {
  border-bottom: 0.5px solid #808080a6;
  margin-bottom: 5px;
}

.mat-card-title {
  font-weight: bold;
  font-family: sans-serif;
}
