<div class="tabs-header backgroundImg" style="padding-left:60px ;">
  <div class="tabs">
    <div class="tabs__wrapper">
      <p class="tabs__item active">
        Service Configuration
      </p>

    </div>

    <div class="pagination-controls">
      <i class="disabled"></i>
      <i></i>
    </div>
  </div>
  <div class="search">
    <form action="" class="input-form searchText-right">
      <img src="assets/images/search-icon.svg" alt="">
      <input type="text" placeholder="General Search" (input)="onSearchText($event)">
    </form>

  </div>
</div>
